{% extends 'BlogApp/template.html' %}

{% load static %}

{% block content %}

<div class="w3-container w3-padding-16 w3-center w3-topbar w3-bottombar w3-border-dark-grey w3-round">
    <h1>Home page</h1>
    <h3 class="w3-opacity" style="text-shadow:1px 1px 0 #444"></h3>
</div>

{% if user.is_authenticated %}
    <div class="w3-container w3-light-grey w3-leftbar w3-rightbar w3-center">
        <h5 style="color:navy">Welcome, <b>{{user.username}}</b>.</h5>
    </div>   
{% endif %}




{% if posts %}
    <div class="w3-panel">
        <h1>Latest Posts</h1>
        {% for post in posts %}
            <div class="w3-card-4" style="width:70%">
                <header class="w3-container w3-light-grey"><h3>{{ post.title }}</h3></header>
                <div class="w3-container">
                    <p>{{ post.author }} | {{ post.date }}</p>
                    <hr>
                    {% if post.image %}
                        <img src="{{post.image.url}}" class="w3-left w3-round w3-margin-right" style="width:200px" alt="title">
                    {% endif %}
                    <p>{{ post.subtitle }}</p><br>
                </div>
                <a button class="w3-button w3-block w3-dark-grey" href="{% url 'blogapp:PostDetail' post.id %}">Read More</a>
            </div>
        {% endfor %}
    </div>
    <div class="w3-panel w3-white">
        <a href="{% url 'blogapp:Posts' %}" class="w3-button w3-dark-grey"><i class="fa fa-list-ul w3-margin-right"></i>View All</a>
    </div>
{% endif %}


{% endblock %}